/* Font Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* Font Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Styling Started from here */
*{
    margin: 0;
    padding:0;
}

/* header section design */
.container {
    width: 95%;
    min-height: 1320;
    height: 600px;
    margin:0 auto;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/assets/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mini-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}