/* Font Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* Font Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Styling Started from here */
*{
    margin: 0;
    padding:0;
}

/* header section design */
.container {
    width: 85%;
    max-width: 1320px;
    height: 600px;
    margin:0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/assets/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}
.mini-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* Category section */
.category-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holiday-deal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.all-category {
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
padding: 15px 0px 15px 0;
}

/* Party welcome section */

.midnight-party {
    width: 85%;
    max-width: 1320px;
    height: 600px;
    margin:0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/assets/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
 
}

.party-title {
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
padding:10px 60px;
}

.party-text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding:10px 60px;
}
.midnight-party a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 60px;
}

.place-date-time {
    width: 85%;
    max-width: 1320px;
    height: 400px;
    margin:0 auto;
    background-color:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    display:block;
    justify-content: space;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 200px;   
    box-shadow: 5px 5px 5px 5px wheat;
}

.place-text {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.red-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    
}

.btn-join {
    background-color: #F00;
    color: #FFF;
    padding: 10px;
    border-color: #F00;
    border-radius: 5px;
    align-items: center;
}

/* New year offer section style */

.offer-section{
    width: 85%;
    max-width: 1320px;
    height: 400px;
    margin:0 auto;
    background-color:#ffffff; 
    display:flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.offer{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-transform: uppercase;
}
.coming-soon-title {
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

.coming-soon-description {
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}

.ellipse {
    border:8px solid #F00;
    border-radius: 50%;
    padding: 10px;
}
.new-year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700; 
}

.new-year-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;  
}
/* holidays section styles */
.holidays {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.holidays-intro{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.holidays-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.holidays-red-text {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holidays-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;   
}
.holidays-img {
    position: relative;
    top: 0;
    left:0;
}
.rectangle {
    top:0;
    right: 0;
    float:right;
}

.group44 {

    float: right;
    margin-top: 110px;
    margin-right: -120px;
}

.holidays-img2 {
    width: 85%;
    max-width: 1320px;
    background-image: url("/assets/Rectangle\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 200px;
    margin-left: 140px;
    padding-left: 159px;
    padding-top: 460px;
    position: relative;
}
.group75 {
    margin-top: -450px;
    margin-left: -100px;
    width: 700px;
    z-index: -1;
}

.portfolio {
    width: 85%;
    max-width: 1320px;
    height: 400px;
    margin:0 auto;
    background-color:#ffffff; 
    display:block;
    align-items: center;
    margin-top: 100px;
}
.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    text-transform:uppercase;
    font-weight: 500;
}

.portfolio-title {
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.portfolio-description {
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}

/* Portfolio image section */

.image-container {
    width: 85%;
    max-width: 1320;
    margin: 0 auto;
    align-items: center;
}
.image-container img:hover {
  background-color: wheat;
  color:#FFF;
}